[SddmGreeterTheme]
Name=Deep
Description=SDDM theme inspired by the Deepin display manager
Screenshot=screenshot.png
License=CC-BY-SA
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=deep
Theme-API=2.0
